

*{
    margin: 0;

}

body , html {
    background-color: black;
}

/* Define a mixin for flex center alignment */
@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body {
    height: 100vh;
    margin: 0;
  }
  