* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: black;
}

/* Define a mixin for flex center alignment */
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100vh; /* Changed to min-height */
}
